region        = "us-east-1"
instance_type = "t2.nano"
servers       = 3
pem_key       = ""
prefix        = ""
app_port      = 3000
email         = ""
ami_id        = ""

min_size         = 1
max_size         = 5
desired_capacity = 2
instance_profile_arn = ""

tags = {
  Name        = "Terraform instance"
  Terraform   = "true"
  Environment = "prod"
}
